Modified from: https://www.cdslab.org/python/
               https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/
               https://github.com/uta-carpentries/SWC_spring2019_lessons/blob/master/Lesson2_Python_Basics.ipynb

## Lesson outline

1. breif review of data types and data structures
2. control structures: conditional and loops
3. list comprehensions
3. functions
4. practice of 2,3, and 4 with a simple data set

## Working with environment

In [231]:
#List all variable defined in your environment
%who

a	 a_dict	 b	 b_dict	 c	 d	 el	 fence	 find3letters
i	 k	 key	 letters	 letters_dict	 letters_list	 math	 multiply	 myData
myData_df	 myData_dic	 myData_dict	 myList	 myList2	 myProduct	 myStr	 my_file	 new_dict
no	 pd	 res	 score	 seq	 seq2	 store_dict	 v	 value
x	 y	 yes	 z

In [232]:
#delete all
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

ERROR:root:Invalid alias: The name clear can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name more can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name less can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name man can't be aliased because it is another magic command.

In [233]:
#now
%who

Interactive namespace is empty.

## Basic data types:

In [250]:
#1. numeric(float, int)
a=23.5
print("a is {} ".format(type(a)))

b=12
print("b is {}".format(type(12)))

#can convert between types
a=int(a)
print("a is {} now".format(type(a)))

a is <class 'float'>
b is <class 'int'>
a is <class 'int'> now

In [251]:
#2. strings
myStr="Hi"
print(myStr)

#can convert
c=12
print(type(c))
c=str(c)
print("c is {} now".format(type(c)))

#immutable
myStr[1]='o'

Hi
<class 'int'>
c is <class 'str'> now

TypeError: 'str' object does not support item assignment

In [252]:
#3. boolean
yes=True
no=False

print(type(yes))
print(type(no))

<class 'bool'>
<class 'bool'>

In [253]:
#can convert 
print(bool(2))
print(bool(-2))
print(bool("hi"))
print(bool(0))
print(bool("None"))
print(bool(None))
print(bool(True))
print(bool({}))

True
True
True
False
True
False
True
False

**Challenge** What is the value of `res`?

In [255]:
score=21  
res = 2*str(bool(type(str(type(3==float(score))))))
print(res)

TrueTrue

## Data structures (composite data types)

**lists:** ordered collection of elements that can be of different data types. List elements can be changed = mutable

In [256]:
#how to create: [] 
myList=[1,4,"hi",23]
print(myList)

[1, 4, 'hi', 23]

In [257]:
#how to access list elements [index]
myList[2]

'hi'

In [258]:
#can change list elements =mutable
myList[2]=45
print(myList)

[1, 4, 45, 23]

In [259]:
#list operations
#myList.<tab> to see operations that can be performed on lists

myList.append("dog")
print(myList)

[1, 4, 45, 23, 'dog']

In [260]:
myList2=[3,6,9,12]
print(myList2)
el=myList2.pop(3)
print(".pop(3) returns {} and removes this element from the list {}".format(el, myList2))

[3, 6, 9, 12]
.pop(3) returns 12 and removes this element from the list [3, 6, 9]

In [261]:
myList3=[3,6,9,12]
myList3*2

[3, 6, 9, 12, 3, 6, 9, 12]

**tuples**: like lists, but immutable

**dictionaries:** key-value pairs (associative arrays), not ordered, mutable

In [262]:
#how to create:
#1. record key-value pairs; key must be unique!
myDict={'rooms':3, 'trees':'many', 'garage':0}
print(myDict)

{'rooms': 3, 'trees': 'many', 'garage': 0}

In [263]:
#2. Create from 2 lists, one containing keys, another -values
keys_list=['rooms','trees','garage']
values_list=[3,"many",0]
house_dict=dict(zip(keys_list, values_list))
print(house_dict)

{'rooms': 3, 'trees': 'many', 'garage': 0}

In [264]:
list(zip(keys_list, values_list))

[('rooms', 3), ('trees', 'many'), ('garage', 0)]

In [265]:
#3 From above, can use dict() on list of tuples to make dictionary
store_dict=dict([('sugar',2), ('bread',1),('beer',7),('chips',2)])
print(store_dict)

{'sugar': 2, 'bread': 1, 'beer': 7, 'chips': 2}

In [266]:
#access elements
store_dict['sugar']

2

**sets**: unordered collection of items with unique elements

In [267]:
#How to create: {}
a={1,3,"hello"}
b={1,3,"hello",3}
a==b

True

In [268]:
a[1]

TypeError: 'set' object does not support indexing

In [269]:
#can use sets to remove duplicate values from list:
myList=[2,3,6,7,8,7,3]
myList_noDup=set(myList)
print(list(myList_noDup))

[2, 3, 6, 7, 8]

In [270]:
b.add(23)
b.difference(a)

{23}

**Challenge**   
Create a dictionary called `applicant` with three items:  
key1: name; value1: list with 2 elements - name and age  
key2: address; value2: dictionary with 2 key-value pairs - state and city  
key3: occupation; value3: tuple with 2 elements - title and year  

After creating the dictionary, access the age of the applicant, the city and occupation title

In [271]:
#Solution
applicant={'name':['Lydia',20], 'address': {'state':'TX', 'city':'Arlington'}, 'occupation':('student',2019)}
#print(applicant)

print(applicant['name'][1])
print(applicant['address']['city'])
print(applicant['occupation'][0])

20
Arlington
student

## Control structures: conditional and loops

**Conditional statements**

In [272]:
#Conditional statements: if, elif, else
x=5
if x>5:  #x>5 is a condition; print statement is executed only if condition evaluates to TRUE
    print("Number is larger than 5")
else:
    print("NO")

NO

In [277]:
#Conditional statements: if, elif, else
#Will elif block get executed?

x=int(input("enter an integer"))   #try 2,5,7,11

if x>5:
    print("Number is larger than 5")
elif x>10:
    print("Number is larger than 10")
else:
    print("NO")

enter a number11
Number is larger than 5

In [278]:
#Conditional statements: if, elif, else
x=int(input("enter an integer"))   #try 2,5,7,11

if x>10:
    print("Number is larger than 10")
elif x>5:
    print("Number is larger than 5")
else:
    print("NO")

enter an integer11
Number is larger than 10

In [279]:
#check that if block execution occurs only when condition is True
condition='Hi' #try  True, "Hi", 0, 4, (3==4), 34<35 as a value for condition
if condition:
    print("condition {} evaluates to True".format(condition))
else:
    print("condition {} evaluates to False".format(condition))

condition Hi evaluates to True

**Loops**

In [283]:
#for loop
for i in range(1,5):
    print(i)

1
2
3
4

In [284]:
#for loop
myList=[1,12,3,6]
for e in myList:
    print(e)
    #print(list.index(e))

1
12
3
6

**Challenge 1:**
Write a `for loop` to multiply each element of `myList=[1,4,3,7,9]` by `2`

In [285]:
#Solution:
myList=[1,4,3,7,9]
for e in myList:
    new_e=2*e
    print(new_e)

2
8
6
14
18

**Challenge 1a:**
Modify solution to Challenge 1 so the output is a list.

In [286]:
#Solution to Challenge 1a:
myList=[1,4,3,7,9]
newList=[]
for e in myList:
    new_e=2*e
    newList.append(new_e)
print(newList)

[2, 8, 6, 14, 18]

What we are doing here is transforming one list into another. A more **pythonic** way of doing it is to use **list comprehensions**  
`list_variable = [x for x in iterable]`

In [287]:
myList=[1,4,3,7,9]
myList=[2*e for e in myList]
print(myList)

[2, 8, 6, 14, 18]

**Challenge 1b:**
Write a `for loop` to multiply each element of `myList=[1,4,3,8,9]` by `2` if a list element is an even number. Output a list.

In [288]:
#Solution to Challenge 1b:
myList=[1,4,3,8,9]
newList=[]
for e in myList:
    if e%2==0:
        new_e=2*e
        newList.append(new_e)
print(newList)

[8, 16]

**Challenge 1c:** rewrite loop in `Challenge 1b` as list comprehension

In [289]:
#Solution to challenge 1c:
myList=[1,4,3,7,9]
newlist=[2*e for e in myList if e%2==0]
print(newList)

[8, 16]

**Super Challenge**  
Suppose you have this list:  `listOfLists=[[2,3,4],[23,12],[2]]`  

1. Write for loop that records elements of every list within this list into a single list called `flatList` 
2. Rewrite the loop from 1 using list comprehensions

In [290]:
#Solution to Super Challenge:
listOfLists=[[2,3,4],[23,12],[2]]

#1
flatList=[]
for sublist in listOfLists:
    for e in sublist:
        flatList.append(e)
print(flatList) 

#2
flatList=[e for sublist in listOfLists for e in sublist]
print(flatList)

[2, 3, 4, 23, 12, 2]
[2, 3, 4, 23, 12, 2]

**Iterating over python dictionaries**

In [291]:
a_dict={'dog':'boss','rooms':{'play':'one','bedroom':1}, 'price':'high','trees':['oaks','bamboo']}
for key,value in a_dict.items():
    print(key,value)

dog boss
rooms {'play': 'one', 'bedroom': 1}
price high
trees ['oaks', 'bamboo']

In [292]:
#a_dict.items() is a list of tuples
a_dict.items()

dict_items([('dog', 'boss'), ('rooms', {'play': 'one', 'bedroom': 1}), ('price', 'high'), ('trees', ['oaks', 'bamboo'])])

In [293]:
#get keys
for key in a_dict.keys():
    print(key)

dog
rooms
price
trees

In [294]:
a_dict.keys()

dict_keys(['dog', 'rooms', 'price', 'trees'])

In [295]:
#get values
for value in a_dict.values():
    print(value)

boss
{'play': 'one', 'bedroom': 1}
high
['oaks', 'bamboo']

In [298]:
for key, value in a_dict.items():    
    if value == {'play': 'one', 'bedroom': 1}:
        print(key)

rooms

**Dictionary comprehensions**: transform one dictionary into another   
`dict_variable = {key:value for (key,value) in dictonary.items()}`

In [299]:
#using loop
b_dict={'book':5,'notebook': 3,'pen':1}
new_dict={}
for key,value in b_dict.items():
    new_dict[key]=value
print(new_dict)

{'book': 5, 'notebook': 3, 'pen': 1}

In [300]:
#with dictionary comprehensions
new_dict={k:v for (k,v) in b_dict.items()}
print(new_dict)

{'book': 5, 'notebook': 3, 'pen': 1}

In [301]:
#triple every value
new_dict={k:v*3 for (k,v) in b_dict.items()}
print(new_dict)

{'book': 15, 'notebook': 9, 'pen': 3}

**Challenge:** modify above so that the new_dict has tripled values only if the original value is less than 4:  
`b_dict={'book':5,'notebook': 3,'pen':1}`

In [303]:
#Solution
new_dict={k:v*3 for (k,v) in b_dict.items() if v<4}
print(new_dict)

{'notebook': 9, 'pen': 3}

## Function: set of rules that transforms input to output

In [304]:
#Built-in functiona
sum([3,4])

7

In [305]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [306]:
#methods: function defined in classes
import math
math.sqrt(64)

8.0

In [307]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /miniconda3/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so

In [308]:
#user-defines functions

def multiply(x,y):
    return x*y

%timeit multiply(3,5)

105 ns ± 1.33 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [309]:
%timeit (3*5)

10.7 ns ± 0.0925 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

**Challenge 2**

Write a function called `fence` that takes two parameters called `original` and `wrapper` and returns a new string that has the wrapper character at the beginning and end of the original.  
Hint: to concatinate strings, use + operator.  
Example of function call:  
`fence('name', '---')`  
Expected output:    
`---name---`

In [310]:
#Solution to Challenge 2
def fence(original, wrapper):  
    new_string=wrapper + original + wrapper
    return new_string

print(fence("Anya","----"))

----Anya----

In [311]:
#recursive functions
#sequence: an=n+4; n=0, a0=4; n=1, a1=5; n=2, a2=6
#recursive form:an=a(n-1)+1 with a0=4
def seq(n):
    if n==0:
        return 4
    else:
        return seq(n-1)+1

for i in range(0,5):
    print(seq(i))

4
5
6
7
8

In [312]:
def seq2(n):
    # an=n+4
    for i in range(0,n):
        print(i+4)
seq2(5)

4
5
6
7
8

## Practice with a dataset:
Link to data:

In [313]:
#import pandas
import pandas as pd

#Read in tab separated file
#my_file = pd.read_csv("gapminder.txt", delimiter = "\t")
myData_df=pd.read_csv("gapminder.txt", delimiter = "\t")

In [314]:
myData_df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [315]:
myData_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [317]:
myData_dict=dict(myData_df)

In [318]:
list(myData_dict['country'])

['Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Bosnia_and_Herzegovina',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burkina_Faso',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Central_African_Republic',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Dem_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Congo_Rep',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 'Costa_Rica',
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 "Cote_d'Ivoire",
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Czech_Republic',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Dominican_Republic',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'El_Salvador',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Equatorial_Guinea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hong_Kong_China',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Jamaica',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Dem_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Korea_Rep',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Liberia',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Libya',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mauritius',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mexico',
 'Mongolia',
 'Mongolia',
 'Mongolia',
 'Mongolia',
 ...]

In [120]:
#how many countries?
len(myData_df.country.unique())

142

In [121]:
len(set(list(myData_dict['country'])))

142

There are three main options to achieve the selection and indexing activities in Pandas. They are:

* Selecting data by indexing (.iloc)
* Selecting data by label(.loc)
* Selecting data by a conditional statment/logical statements

In [ ]:
# Subset with index:
#all rows, second column
print(my_file.iloc[:,2])  

#output as series - Series is a one-dimensional labeled array, like R's named list?
print(my_file.iloc[0,:])  

#same as above; can omit column index if want all columns
print(my_file.iloc[0])    

print(my_file.iloc[[0]])  #now dataframe is returned

#selecting multiple rows and columns:
print(my_file.iloc[0:2,1:3])

#series again
print(my_file.iloc[0:2,3])  

#data frame
print(my_file.iloc[0:2,[3]])  
print(my_file.iloc[[0,2,3],[1,3]])

In [230]:
#subset by label:
#data.loc[<row selection>, <column selection>]
#df.set_index("last_name", inplace=True)  #can set index to unique column, or use row numbers as labels

print(my_file.head())
print(my_file.loc[:, ['year']])
print(my_file.loc[:, ['year','pop']])

#note that 0:2 is interpreted as  labels of the index. This use is not an integer position along the index
print(my_file.loc[0:2,['year']])  

#back to series
print(my_file.loc[0:2,'year'])

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
      year
0     1952
1     1957
2     1962
3     1967
4     1972
5     1977
6     1982
7     1987
8     1992
9     1997
10    2002
11    2007
12    1952
13    1957
14    1962
15    1967
16    1972
17    1977
18    1982
19    1987
20    1992
21    1997
22    2002
23    2007
24    1952
25    1957
26    1962
27    1967
28    1972
29    1977
...    ...
1674  1982
1675  1987
1676  1992
1677  1997
1678  2002
1679  2007
1680  1952
1681  1957
1682  1962
1683  1967
1684  1972
1685  1977
1686  1982
1687  1987
1688  1992
1689  1997
1690  2002
1691  2007
1692  1952
1693  1957
1694  1962
1695  1967
1696  1972
1697  1977
1698  1982
1699  1987
1700  1992
1701  1997
1702  2002
1703  2007

[1704 rows x 1 columns]
      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
5     1977  14880372
6     1982  12881816
7     1987  13867957
8     1992  16317921
9     1997  22227415
10    2002  25268405
11    2007  31889923
12    1952   1282697
13    1957   1476505
14    1962   1728137
15    1967   1984060
16    1972   2263554
17    1977   2509048
18    1982   2780097
19    1987   3075321
20    1992   3326498
21    1997   3428038
22    2002   3508512
23    2007   3600523
24    1952   9279525
25    1957  10270856
26    1962  11000948
27    1967  12760499
28    1972  14760787
29    1977  17152804
...    ...       ...
1674  1982   9657618
1675  1987  11219340
1676  1992  13367997
1677  1997  15826497
1678  2002  18701257
1679  2007  22211743
1680  1952   2672000
1681  1957   3016000
1682  1962   3421000
1683  1967   3900000
1684  1972   4506497
1685  1977   5216550
1686  1982   6100407
1687  1987   7272406
1688  1992   8381163
1689  1997   9417789
1690  2002  10595811
1691  2007  11746035
1692  1952   3080907
1693  1957   3646340
1694  1962   4277736
1695  1967   4995432
1696  1972   5861135
1697  1977   6642107
1698  1982   7636524
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]
   year
0  1952
1  1957
2  1962
0    1952
1    1957
2    1962
Name: year, dtype: int64

In [ ]:
#Logical selection
#data.loc[<row selection>, <column selection>] where row selection is based on logical Pandas series

#With logical selection, you pass an array or Series of True/False values to the .loc indexer to select the rows where your Series has True values.
print(my_file.head())

#all columns where country is Afghanistan
print(my_file.loc[my_file['country']=="Afghanistan"]) #all columns where country is Afghanistan

#logical Pandas series with TRUE values for rows where Afghanistan is present
ls=my_file['country']=="Afghanistan"  
print(ls.head(13))

#specify columns
print(my_file.loc[my_file['country']=="Afghanistan",['year', 'pop']])