## Sep 26 lesson  
Modified from: https://www.cdslab.org/python/  
               https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/  
               https://github.com/uta-carpentries/SWC_spring2019_lessons/blob/master/Lesson2_Python_Basics.ipynb

## Lesson outline

1. breif review of data types and data structures
2. control structures: conditional and loops
3. list/dictionary comprehensions
3. functions

## Working with environment

In [231]:
#List all variable defined in your environment
who

a	 a_dict	 b	 b_dict	 c	 d	 el	 fence	 find3letters
i	 k	 key	 letters	 letters_dict	 letters_list	 math	 multiply	 myData
myData_df	 myData_dic	 myData_dict	 myList	 myList2	 myProduct	 myStr	 my_file	 new_dict
no	 pd	 res	 score	 seq	 seq2	 store_dict	 v	 value
x	 y	 yes	 z

In [232]:
#delete all
reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

ERROR:root:Invalid alias: The name clear can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name more can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name less can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name man can't be aliased because it is another magic command.

In [233]:
#now
who

Interactive namespace is empty.

## Basic data types:

In [250]:
#1. numeric(float, int)
a=23.5
print("a is {} ".format(type(a)))

b=12
print("b is {}".format(type(12)))

#can convert between types
a=int(a)
print("a is {} now".format(type(a)))

a is <class 'float'>
b is <class 'int'>
a is <class 'int'> now

In [251]:
#2. strings
myStr="Hi"
print(myStr)

#can convert
c=12
print(type(c))
c=str(c)
print("c is {} now".format(type(c)))

#immutable
myStr[1]='o'

Hi
<class 'int'>
c is <class 'str'> now

TypeError: 'str' object does not support item assignment

In [252]:
#3. boolean
yes=True
no=False

print(type(yes))
print(type(no))

<class 'bool'>
<class 'bool'>

In [253]:
#can convert 
print(bool(2))
print(bool(-2))
print(bool("hi"))
print(bool(0))
print(bool("None"))
print(bool(None))
print(bool(True))
print(bool({}))

True
True
True
False
True
False
True
False

**Challenge** What is the value of `res`?

In [255]:
score=21  
res = 2*str(bool(type(str(type(3==float(score))))))
print(res)

TrueTrue

## Data structures (composite data types)

**lists:** ordered collection of elements that can be of different data types. List elements can be changed = mutable

In [256]:
#how to create: [] 
myList=[1,4,"hi",23]
print(myList)

[1, 4, 'hi', 23]

In [257]:
#how to access list elements [index]
myList[2]

'hi'

In [258]:
#can change list elements =mutable
myList[2]=45
print(myList)

[1, 4, 45, 23]

In [259]:
#list operations
#myList.<tab> to see operations that can be performed on lists

myList.append("dog")
print(myList)

[1, 4, 45, 23, 'dog']

In [260]:
myList2=[3,6,9,12]
print(myList2)
el=myList2.pop(3)
print(".pop(3) returns {} and removes this element from the list {}".format(el, myList2))

[3, 6, 9, 12]
.pop(3) returns 12 and removes this element from the list [3, 6, 9]

In [261]:
myList3=[3,6,9,12]
myList3*2

[3, 6, 9, 12, 3, 6, 9, 12]

**tuples**: like lists, but immutable

**dictionaries:** key-value pairs (associative arrays), not ordered, mutable

In [262]:
#how to create:
#1. record key-value pairs; key must be unique!
myDict={'rooms':3, 'trees':'many', 'garage':0}
print(myDict)

{'rooms': 3, 'trees': 'many', 'garage': 0}

In [263]:
#2. Create from 2 lists, one containing keys, another -values
keys_list=['rooms','trees','garage']
values_list=[3,"many",0]
house_dict=dict(zip(keys_list, values_list))
print(house_dict)

{'rooms': 3, 'trees': 'many', 'garage': 0}

In [264]:
list(zip(keys_list, values_list))

[('rooms', 3), ('trees', 'many'), ('garage', 0)]

In [265]:
#3 From above, can use dict() on list of tuples to make dictionary
store_dict=dict([('sugar',2), ('bread',1),('beer',7),('chips',2)])
print(store_dict)

{'sugar': 2, 'bread': 1, 'beer': 7, 'chips': 2}

In [266]:
#access elements
store_dict['sugar']

2

**sets**: unordered collection of items with unique elements

In [267]:
#How to create: {}
a={1,3,"hello"}
b={1,3,"hello",3}
a==b

True

In [268]:
a[1]

TypeError: 'set' object does not support indexing

In [269]:
#can use sets to remove duplicate values from list:
myList=[2,3,6,7,8,7,3]
myList_noDup=set(myList)
print(list(myList_noDup))

[2, 3, 6, 7, 8]

In [270]:
b.add(23)
b.difference(a)

{23}

**Challenge**   
Create a dictionary called `applicant` with three items:  
key1: name; value1: list with 2 elements - name and age  
key2: address; value2: dictionary with 2 key-value pairs - state and city  
key3: occupation; value3: tuple with 2 elements - title and year  

After creating the dictionary, access the age of the applicant, the city and occupation title

In [271]:
#Solution
applicant={'name':['Lydia',20], 'address': {'state':'TX', 'city':'Arlington'}, 'occupation':('student',2019)}
#print(applicant)

print(applicant['name'][1])
print(applicant['address']['city'])
print(applicant['occupation'][0])

20
Arlington
student

## Control structures: conditional and loops

**Conditional statements**

In [272]:
#Conditional statements: if, elif, else
x=5
if x>5:  #x>5 is a condition; print statement is executed only if condition evaluates to TRUE
    print("Number is larger than 5")
else:
    print("NO")

NO

In [277]:
#Conditional statements: if, elif, else
#Will elif block get executed?

x=int(input("enter an integer"))   #try 2,5,7,11

if x>5:
    print("Number is larger than 5")
elif x>10:
    print("Number is larger than 10")
else:
    print("NO")

enter a number11
Number is larger than 5

In [278]:
#Conditional statements: if, elif, else
x=int(input("enter an integer"))   #try 2,5,7,11

if x>10:
    print("Number is larger than 10")
elif x>5:
    print("Number is larger than 5")
else:
    print("NO")

enter an integer11
Number is larger than 10

In [279]:
#check that if block execution occurs only when condition is True
condition='Hi' #try  True, "Hi", 0, 4, (3==4), 34<35 as a value for condition
if condition:
    print("condition {} evaluates to True".format(condition))
else:
    print("condition {} evaluates to False".format(condition))

condition Hi evaluates to True

**Loops**

In [283]:
#for loop
for i in range(1,5):
    print(i)

1
2
3
4

In [284]:
#for loop
myList=[1,12,3,6]
for e in myList:
    print(e)
    #print(list.index(e))

1
12
3
6

**Challenge 1:**
Write a `for loop` to multiply each element of `myList=[1,4,3,7,9]` by `2`

In [285]:
#Solution:
myList=[1,4,3,7,9]
for e in myList:
    new_e=2*e
    print(new_e)

2
8
6
14
18

**Challenge 1a:**
Modify solution to Challenge 1 so the output is a list.

In [286]:
#Solution to Challenge 1a:
myList=[1,4,3,7,9]
newList=[]
for e in myList:
    new_e=2*e
    newList.append(new_e)
print(newList)

[2, 8, 6, 14, 18]

What we are doing here is transforming one list into another. A more **pythonic** way of doing it is to use **list comprehensions**  
`list_variable = [x for x in iterable]`

In [287]:
myList=[1,4,3,7,9]
myList=[2*e for e in myList]
print(myList)

[2, 8, 6, 14, 18]

**Challenge 1b:**
Write a `for loop` to multiply each element of `myList=[1,4,3,8,9]` by `2` if a list element is an even number. Output a list.

In [288]:
#Solution to Challenge 1b:
myList=[1,4,3,8,9]
newList=[]
for e in myList:
    if e%2==0:
        new_e=2*e
        newList.append(new_e)
print(newList)

[8, 16]

**Challenge 1c:** rewrite loop in `Challenge 1b` as list comprehension

In [289]:
#Solution to challenge 1c:
myList=[1,4,3,7,9]
newlist=[2*e for e in myList if e%2==0]
print(newList)

[8, 16]

**Super Challenge**  
Suppose you have this list:  `listOfLists=[[2,3,4],[23,12],[2]]`  

1. Write for loop that records elements of every list within this list into a single list called `flatList` 
2. Rewrite the loop from 1 using list comprehensions

In [290]:
#Solution to Super Challenge:
listOfLists=[[2,3,4],[23,12],[2]]

#1
flatList=[]
for sublist in listOfLists:
    for e in sublist:
        flatList.append(e)
print(flatList) 

#2
flatList=[e for sublist in listOfLists for e in sublist]
print(flatList)

[2, 3, 4, 23, 12, 2]
[2, 3, 4, 23, 12, 2]

**Iterating over python dictionaries**

In [291]:
a_dict={'dog':'boss','rooms':{'play':'one','bedroom':1}, 'price':'high','trees':['oaks','bamboo']}
for key,value in a_dict.items():
    print(key,value)

dog boss
rooms {'play': 'one', 'bedroom': 1}
price high
trees ['oaks', 'bamboo']

In [292]:
#a_dict.items() is a list of tuples
a_dict.items()

dict_items([('dog', 'boss'), ('rooms', {'play': 'one', 'bedroom': 1}), ('price', 'high'), ('trees', ['oaks', 'bamboo'])])

In [293]:
#get keys
for key in a_dict.keys():
    print(key)

dog
rooms
price
trees

In [294]:
a_dict.keys()

dict_keys(['dog', 'rooms', 'price', 'trees'])

In [295]:
#get values
for value in a_dict.values():
    print(value)

boss
{'play': 'one', 'bedroom': 1}
high
['oaks', 'bamboo']

In [298]:
for key, value in a_dict.items():    
    if value == {'play': 'one', 'bedroom': 1}:
        print(key)

rooms

**Dictionary comprehensions**: transform one dictionary into another   
`dict_variable = {key:value for (key,value) in dictonary.items()}`

In [299]:
#using loop
b_dict={'book':5,'notebook': 3,'pen':1}
new_dict={}
for key,value in b_dict.items():
    new_dict[key]=value
print(new_dict)

{'book': 5, 'notebook': 3, 'pen': 1}

In [300]:
#with dictionary comprehensions
new_dict={k:v for (k,v) in b_dict.items()}
print(new_dict)

{'book': 5, 'notebook': 3, 'pen': 1}

In [301]:
#triple every value
new_dict={k:v*3 for (k,v) in b_dict.items()}
print(new_dict)

{'book': 15, 'notebook': 9, 'pen': 3}

**Challenge:** modify above so that the new_dict has tripled values only if the original value is less than 4:  
`b_dict={'book':5,'notebook': 3,'pen':1}`

In [303]:
#Solution
new_dict={k:v*3 for (k,v) in b_dict.items() if v<4}
print(new_dict)

{'notebook': 9, 'pen': 3}

## Function: set of rules that transforms input to output

In [304]:
#Built-in functiona
sum([3,4])

7

In [305]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [306]:
#methods: function defined in classes
import math
math.sqrt(64)

8.0

In [4]:
help(math)

In [308]:
#user-defines functions

def multiply(x,y):
    return x*y

%timeit multiply(3,5)

105 ns ± 1.33 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [309]:
%timeit (3*5)

10.7 ns ± 0.0925 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

**Challenge 2**

Write a function called `fence` that takes two parameters called `original` and `wrapper` and returns a new string that has the wrapper character at the beginning and end of the original.  
Hint: to concatinate strings, use + operator.  
Example of function call:  
`fence('name', '---')`  
Expected output:    
`---name---`

In [2]:
#Solution to Challenge 2
def fence(original, wrapper):  
    new_string=wrapper + original + wrapper
    return new_string

print(fence("Sasha","----"))

----Sasha----

In [311]:
#recursive functions
#sequence: an=n+4; n=0, a0=4; n=1, a1=5; n=2, a2=6
#recursive form:an=a(n-1)+1 with a0=4
def seq(n):
    if n==0:
        return 4
    else:
        return seq(n-1)+1

for i in range(0,5):
    print(seq(i))

4
5
6
7
8

In [1]:
#iterative
def seq2(n):
    # an=n+4
    for i in range(0,n):
        print(i+4)
seq2(5)

4
5
6
7
8